
body{
    background-color: black;
}

#d1{
    height: 250px;
    width: 400px;
    border: 6px solid rebeccapurple;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    /* border-radius: 50%; */
    margin: 100px;
    box-shadow: 20px 20px 100px whitesmoke;
    
}
#d2{
    height: 60px;
    width: 60px;
    border: 4px solid red;
    border-radius: 50%;
    margin-top: -430px;
    margin-left: 100px;
    box-shadow: 5px 5px 50px purple;
    border-color: red purple green yellow ;
    position: absolute;
    animation-name: circle;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
    animation-fill-mode:forwards;
/* }
@keyframes circle{
    25%{
        transform: rotate(0deg) translateX(390px);
    }
    50%{
        transform: rotate(-50deg) translateY(510px);
    }
    75%{
        transform: rotate(90deg) translateX(330px);
    }
    100%{
        transform: rotate(45deg) translateY(5px);
    } */
}
@keyframes circle{
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(380px,0px);
    }
    50%{
        transform: translate(380px,380px);
    }
    75%{
        transform: translate(0px,380px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

.com{
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
}
#s1{
    color: brown;
    transition-property: all;
    transition-duration: 3s;
}
#s1:hover{
    transform: translateY(190px);
}
#s2{
    color: goldenrod;
    transition-property: all;
    transition-duration: 5s;
}
#s2:hover{
    transform: translateY(190px);
}
#s3{
    color: green;
    transition-property: all;
    transition-duration: 5s;
}
#s3:hover{
    transform: translateY(190px);
}
#s4{
    color: yellow;
    transition-property: all;
    transition-duration: 5s;
}
#s4:hover{
    transform: translateY(190px);
}
#s5{
    color: purple;
    transition-property: all;
    transition-duration: 5s;
}
#s5:hover{
    transform: translateY(190px);
}
#s6{
    color: blue;
    transition-property: all;
    transition-duration: 5s;
}
#s6:hover{
    transform: translateY(190px);
}